
.chart-container {
    width: 800px;
    margin: auto;
  }
.header {
    width: 100px;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: brown;
    margin: auto;
}
.input_container {
    text-align: center;
    align-items: center;
    align-self: center;
}
.radio_container {
    text-align: center;
    align-items: center;
    align-self: center;
}